/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━  WEIGHTS  ━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

// 300 • Light
@font-face
    font-family: 'Roboto'
    font-weight: 300
    font-style: normal
    src: url(source + 'Roboto/light.woff') format('woff')

// 400 • Normal
@font-face
    font-family: 'Roboto'
    font-weight: 400
    font-style: normal
    src: url(source + 'Roboto/regular.woff') format('woff')

// 700 • Bold
@font-face
    font-family: 'Roboto'
    font-weight: 700
    font-style: normal
    src: url(source + 'Roboto/bold.woff') format('woff')
