/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━  WEIGHTS  ━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

// 300 • light
@font-face
    font-family: 'Roboto'
    font-weight: 300
    font-style: normal
    src: url(source + 'Roboto/light.woff') format('woff')

// 400 • regular
@font-face
    font-family: 'Roboto'
    font-weight: 400
    font-style: normal
    src: url(source + 'Roboto/regular.woff') format('woff')

// 400i • regular: italic
@font-face
    font-family: 'Roboto'
    font-weight: 400
    font-style: italic
    src: url(source + 'Roboto/regular-italic.woff') format('woff')

// 700 • bold
@font-face
    font-family: 'Roboto'
    font-weight: 700
    font-style: normal
    src: url(source + 'Roboto/bold.woff') format('woff')