/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━  LISTS  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

// (un)ordered
ol, ul
    margin: rem(25px) 0
    padding: 0 0 0 rem(33px)
    list-style-position: inside
    li
        color: _list
        margin: rem(8px) 0
        line-height: 1.5
        nav &
            color: _nav
        footer &
            color: _footer
        a
            font-weight: inherit
    nav &
    footer &
        margin: 0
        padding: 0
        list-style-type: none

ol
    list-style-type: decimal

ul
    list-style-type: square

//  descriptions
dl
    &.inline
        dt
            display: inline-block
            margin: rem(5px) 0
            &::after
                content: ':\00A0'
        dd
            display: inline-block
    // <dd> delimitation
    .comma
        dd:not(:last-of-type)::after
            content: ',\00A0'
    .bullet
        dd:not(:last-of-type)::after
            content: ' \2022\00A0'
    .dot
        dd:not(:last-of-type)::after
            content: ' \00B7\00A0'
