/*━━━━━━━━━━━━━━━━━━━━━━━━━━━  MODIFIERS  ━━━━━━━━━━━━━━━━━━━━━━━━━━*/

// alternate voice
i
    font-style: italic

// stylistically different
b
    font-weight: bold

u
    text-decoration: underline

// stress emphasis
em
    font-style: italic
    padding-right: 0.12em

// strong importance
strong
    font-weight: bold

// highlight relevance
mark
    background: #F7F3E1

// additions
ins
    text-decoration: underline

// deleted text
del
    text-decoration: line-through

// lost relevance / accuracy
s
    text-decoration: line-through

// small print
small
    font-size: 80%

// subscript, superscript
sub, sup
    font-size: 70%
    line-height: 0
    position: relative
    vertical-align: baseline

sup
    top: -0.5em

sub
    bottom: -0.25em
