/*━━━━━━━━━━━━━━━━━━━━━━━━━━  MONOSPACED  ━━━━━━━━━━━━━━━━━━━━━━━━━━*/

pre
    white-space: pre-wrap
    word-wrap: break-word

code, kbd, pre, samp
    font-family: monospaced
    font-size: .9rem
    color: _code
