banner-1(scheme = __default)
    .banner-1
        position: absolute
        white-space: nowrap
        pointer-events: none
        transform: rotate(-45deg)
        bottom: 32px
        right: -65px
        z-index: 1
        +min(1)
            bottom: 42px
            right: -56px
        a
            display: block
            margin: 0
            padding: 16px 100px
            color: scheme.default
            text-align: center
            text-decoration: none
            font-size: 1rem
            font-weight: 700
            pointer-events: auto
            border: 1px solid scheme.default
            background: scheme.background
            &:hover
                color: scheme.background
                background: scheme.default
        { block }
