gray = {

    name: 'gray',

    /// ━━━━━━━━━━━━ DEFAULTS

    default:         __gray_default,

    // elements
    heading:         __gray_heading,
    paragraph:       __gray_paragraph,
    list:            __gray_list,
    code:            __gray_code,
    vector:          __gray_vector,

    // properties
    border:          __gray_border,
    background:      __gray_background,

    // states
    link:            __gray_link,
    visited:         __gray_visited,
    hover:           __gray_hover,
    active:          __gray_active,
    focus:           __gray_focus,

    /// ━━━━━━━━━━━━ SCOPES

    nav: {
        default:     __gray_nav_default,
        vector:      __gray_nav_vector,
        background:  __gray_nav_background,
        // ⚓
        link:        __gray_nav_link,
        visited:     __gray_nav_visited,
        hover:       __gray_nav_hover,
        active:      __gray_nav_active,
        focus:       __gray_nav_focus
    },

    header: {
        default:     __gray_header_default,
        vector:      __gray_header_vector,
        background:  __gray_header_background,
        // ⚓
        link:        __gray_header_link,
        visited:     __gray_header_visited,
        hover:       __gray_header_hover,
        active:      __gray_header_active,
        focus:       __gray_header_focus
    },

    footer: {
        default:     __gray_footer_default,
        vector:      __gray_footer_vector,
        background:  __gray_footer_background,
        // ⚓
        link:        __gray_footer_link,
        visited:     __gray_footer_visited,
        hover:       __gray_footer_hover,
        active:      __gray_footer_active,
        focus:       __gray_footer_focus
    },

    syntax: {
        default:     __gray_syntax_default,
        punctuation: __gray_syntax_punctuation,
        keyword:     __gray_syntax_keyword,
        operator:    __gray_syntax_operator,
        variable:    __gray_syntax_variable,
        class:       __gray_syntax_class,
        element:     __gray_syntax_element,
        function:    __gray_syntax_function,
        property:    __gray_syntax_property,
        attribute:   __gray_syntax_attribute,
        string:      __gray_syntax_string,
        number:      __gray_syntax_number,
        regexp:      __gray_syntax_regexp,
        doctype:     __gray_syntax_doctype,
        comment:     __gray_syntax_comment,
        background:  __gray_syntax_background
    }

}
