mixin nav-1({ target = "home", direction = "next", icon = "nav-1-fill" })

    div(
        class="nav-1"
        data-target= target
        data-direction= direction)

        button: svg: use(xlink:href=`/assets/images/_sprites/symbols.svg#${ icon }`)
