mixin nav-1(direction, icon)
    button(class="nav-1" data-go=direction)
        svg
            use(
                xlink:href=icon ? "/assets/images/sprite/symbols.svg#" + icon : "/assets/images/sprite/symbols.svg#nav-1-fill"
            )
