{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "indent": [
            "warn",
            4
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "warn",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "eqeqeq": "warn",
        "no-console": "warn",
        "no-inner-declarations": "off",
        "no-multiple-empty-lines": [
          "error", {
            "max": 1,
            "maxEOF": 1
          }
        ],
        "space-before-function-paren": [
          "error", {
            "anonymous": "never",
            "named": "never",
            "asyncArrow": "always"
        }
      ],
    }
}
