/*━━━━━━━━━━━━━━━━━━━━━━━━━━  ASSIGNMENTS  ━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ Manage color references.                                           ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

/// ━━━━━━━━━━━━ SCHEME

scheme = __d = __default = active_scheme

/// ━━━━━━━━━━━━ DEFAULTS

// elements
_default            = _d     = scheme.default
_heading            = _z     = scheme.heading
_paragraph          = _p     = scheme.paragraph
_list               = _l     = scheme.list
_code               = _c     = scheme.code
_vector             = _v     = scheme.vector

// properties
_border             = _r     = scheme.border
_background         = _b     = scheme.background

// states
_link               = _a_l   = scheme.link
_visited            = _a_v   = scheme.visited
_hover              = _a_h   = scheme.hover
_active             = _a_a   = scheme.active
_focus              = _a_f   = scheme.focus

/// ━━━━━━━━━━━━ SCOPES

// navigation
_nav                = _n     = scheme.nav.default
_nav_vector         = _n_v   = scheme.nav.vector
_nav_background     = _n_b   = scheme.nav.background
_nav_link           = _n_a_l = scheme.nav.link
_nav_visited        = _n_a_v = scheme.nav.visited
_nav_hover          = _n_a_h = scheme.nav.hover
_nav_active         = _n_a_a = scheme.nav.active
_nav_focus          = _n_a_f = scheme.nav.focus

// headers
_header             = _h     = scheme.header.default
_header_vector      = _h_v   = scheme.header.vector
_header_background  = _h_b   = scheme.header.background
_header_link        = _h_a_l = scheme.header.link
_header_visited     = _h_a_v = scheme.header.visited
_header_hover       = _h_a_h = scheme.header.hover
_header_active      = _h_a_a = scheme.header.active
_header_focus       = _h_a_f = scheme.header.focus

// footers
_footer             = _f     = scheme.footer.default
_footer_vector      = _f_v   = scheme.footer.vector
_footer_background  = _f_b   = scheme.footer.background
_footer_link        = _f_a_l = scheme.footer.link
_footer_visited     = _f_a_v = scheme.footer.visited
_footer_hover       = _f_a_h = scheme.footer.hover
_footer_active      = _f_a_a = scheme.footer.active
_footer_focus       = _f_a_f = scheme.footer.focus
