/*━━━━━━━━━━━━━━━━━━━━━━━━━━  ACHROMATIC  ━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ Interval keys for shades of gray.  grayℕ ≡ round(ℕ% × 255)         ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

_0   = _black = #000000   // #000000          rgb(0,0,0)
_5   = lighten(_0,  5%)   // #0D0D0D       rgb(13,13,13)
_10  = lighten(_0, 10%)   // #1A1A1A       rgb(26,26,26)
_15  = lighten(_0, 15%)   // #262626       rgb(38,38,38)
_20  = lighten(_0, 20%)   // #333333       rgb(51,51,51)
_25  = lighten(_0, 25%)   // #404040       rgb(64,64,64)
_30  = lighten(_0, 30%)   // #4D4D4D       rgb(77,77,77)
_35  = lighten(_0, 35%)   // #595959       rgb(89,89,89)
_40  = lighten(_0, 40%)   // #666666    rgb(102,102,102)
_45  = lighten(_0, 45%)   // #737373    rgb(115,115,115)
_50  = lighten(_0, 50%)   // #808080    rgb(128,128,128)
_55  = lighten(_0, 55%)   // #8C8C8C    rgb(140,140,140)
_60  = lighten(_0, 60%)   // #999999    rgb(153,153,153)
_65  = lighten(_0, 65%)   // #A6A6A6    rgb(166,166,166)
_70  = lighten(_0, 70%)   // #B3B3B3    rgb(179,179,179)
_75  = lighten(_0, 75%)   // #BFBFBF    rgb(191,191,191)
_80  = lighten(_0, 80%)   // #CCCCCC    rgb(204,204,204)
_85  = lighten(_0, 85%)   // #D9D9D9    rgb(217,217,217)
_90  = lighten(_0, 90%)   // #E6E6E6    rgb(230,230,230)
_95  = lighten(_0, 95%)   // #F2F2F2    rgb(242,242,242)
_100 = _white = #FFFFFF   // #FFFFFF    rgb(255,255,255)

/*━━━━━━━━━━━━━━━━━━━━━━━━━━  CHROMATIC  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ Full-color palette.                                                ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

// THEMES

// theme group
_color_1 = #111
_color_2 = #222
_color_3 = #333

// GRADIENTS

___1 = #bbb 0%, #aaa 100%

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━  CLASSES  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ Utility color classes.                                             ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

._black { color: _black }
._white { color: _white }
