$fantasy = 'Eras ITC',
           'Impact',
           'Haettenschweiler',
           'Marker Felt',
           'Brushstroke',
           'Harrington',
           'Luminari',
           'Trattatello',
           fantasy