/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━  STACKS  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ Manage font stacks                                                 ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

stacks = 'serif'      \
         'sans-serif' \
         'monospace'  \
         'cursive'    \
         'fantasy'

for stack in stacks
    @require stack
