$monospace = 'Consolas',
             'Hack',
             'Source Code Pro',
             'Anonymous Pro',
             'Fira Mono',
             'Monaco',
             'Courier',
             monospace