$sans-serif = 'Source Sans Pro',
              'Roboto',
              'Open Sans',
              'Noto Sans',
              'Fira Sans',
              'Helvetica Neue',
              'Helvetica',
              'Seravek',
              'Avenir',
              'Franklin Gothic',
              'Arial',
              sans-serif
