$serif = 'Sitka',
         'Athe­las',
         'Crimson Text',
         'Libre Baskerville',
         'Noto Serif',
         'Butler',
         'Garamond',
         'Palatino Linotype',
         'Bell MT',
         'Char­ter',
         serif