$serif = 'Sitka',
         'Athelas',
         'Crimson Text',
         'Libre Baskerville',
         'Noto Serif',
         'Butler',
         'Garamond',
         'Palatino Linotype',
         'Bell MT',
         'Charter',
         serif
