textarea
    overflow: auto
    vertical-align: top
    resize: vertical

input[type="radio"]
input[type="checkbox"]
    display: table-cell
    vertical-align: middle
    margin: -2px 4px 0 0
    padding: 0