/*━━━━━━━━━━━━━━━━━━━━  TABLES  ━━━━━━━━━━━━━━━━━━━━━┓
┃ Set behaviour and presentation for tables.         ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

table
    & caption
        padding: rem(15px) 0
        font-weight: bold
    & th
        font-weight: bold
        padding: rem(10px) 0
