/*━━━━━━━━━━━━━━━━━━━━  TABLES  ━━━━━━━━━━━━━━━━━━━━━┓
┃ Set behaviour and presentation for tables.         ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

table
    width: 100%
    margin: rem(10px) 0
    empty-cells: hide
    caption
        padding: rem(15px) 0
        font-size: 1.1rem
        font-weight: bold
        text-transform: uppercase
    th
        padding: rem(5px)
        font-weight: 600
        text-align: left
    td
        padding: rem(5px)
        border 1px solid darken(scheme.background, 20%)
