/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━  CUSTOM  ━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

.logo // a.logo svg use
    font-family: $sans-serif
    font-weight: normal
    font-style: normal
    letter-spacing: normal
    text-transform: none
    user-select: none
    svg
        size(rem(22px))
        margin-right: .3rem
    &:hover
        text-decoration: none
        svg use
            fill: tomato
