/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━  HEADINGS  ━━━━━━━━━━━━━━━━━━━━━━━━━━*/

h1, h2, h3, h4, h5, h6
    font-family: $sans-serif
    font-weight: bold
    line-height: 1.35
    color: _heading
    // top margin of firsts
    div     > &:first-child
    section > &:first-child
    article > &:first-child
    aside   > &:first-child
        margin-top: 0
    // align sub-node attrs
    span, a
        color: inherit
        font-weight: inherit

h1
    font-size: 4rem
    margin: 0.67em 0
    letter-spacing: -2px

h2
    font-size: 3.2rem
    margin: 0.5em 0
    letter-spacing: -1px

h3
    font-size: 2.5rem
    margin: 0.7em 0 0.4em

h4
    font-size: 1.9rem
    line-height: 1.5
    margin: 1.2em 0 0.5em

h5
    font-size: 1.4rem
    line-height: 1.5
    margin: 1.2em 0 0.5em

h6
    font-size: 1rem
    line-height: 1.5
    margin: 1.2em 0 0.5em
