modules_active = 'body'       \
                 'headings'   \
                 'paragraphs' \
                 'anchors'    \
                 'lists'      \
                 'forms'      \
                 'monospaced' \
                 'modifiers'  \
                 'custom'

for module in modules_active
    @require module
