/*━━━━━━━━━━━━━━━━━━━━━━━━━━  PARAGRAPHS  ━━━━━━━━━━━━━━━━━━━━━━━━━━*/

p
    font-size: 1rem
    line-height: 1.5
    margin: 1rem 0
    color: _p
    h1 + &, h2 + &, h3 + &
    h4 + &, h5 + &, h6 + &
        margin-top: 0
    footer &
        color: scheme.footer.default
