.i-emoji
    &-folder::before
        content: '\1F4C1'
    &-file::before
        content: '\1F4C4'
    &-picture::before
        content: '\1F5BC'
    &-letters::before
        content: '\1F524'
    &-hammer-wrench::before
        content: '\1F6E0'
    &-gear::before
        content: '\2699'
    &-rocket::before
        content: '\1F680'
