/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━  ICONS  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ Manage icons and ideograms                                         ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

@require 'emoji'
