/// ━━━━━━━━━━━━ DEFAULTS

// default
__gray_default            = _45

// elements
__gray_heading            = _50
__gray_paragraph          = __gray_default
__gray_list               = __gray_default
__gray_code               = #55A035
__gray_vector             = _55

// properties
__gray_border             = _80
__gray_background         = _95

// states
__gray_link               = #588FC4
__gray_visited            = __gray_link
__gray_hover              = __gray_link
__gray_active             = __gray_hover
__gray_focus              = __gray_hover

/// ━━━━━━━━━━━━ SCOPES

// navigation
__gray_nav_default        = __gray_default
__gray_nav_vector         = __gray_vector
__gray_nav_background     = __gray_background
// ⚓
__gray_nav_link           = _50
__gray_nav_visited        = __gray_nav_link
__gray_nav_hover          = _20
__gray_nav_active         = __gray_nav_hover
__gray_nav_focus          = __gray_nav_hover

// header
__gray_header_default     = _55
__gray_header_vector      = _55
__gray_header_background  = __gray_background
// ⚓
__gray_header_link        = _55
__gray_header_visited     = __gray_header_link
__gray_header_hover       = _35
__gray_header_active      = __gray_header_hover
__gray_header_focus       = __gray_header_hover

// footer
__gray_footer_default     = _50
__gray_footer_vector      = _60
__gray_footer_background  = _85
// ⚓
__gray_footer_link        = __gray_footer_default
__gray_footer_visited     = __gray_footer_link
__gray_footer_hover       = _30
__gray_footer_active      = __gray_footer_hover
__gray_footer_focus       = __gray_footer_hover

// syntax
__gray_syntax_default     = _45
__gray_syntax_punctuation = _45
__gray_syntax_keyword     = #D64040
__gray_syntax_operator    = #D64040
__gray_syntax_variable    = #CE8A3B
__gray_syntax_class       = #A551D6
__gray_syntax_element     = #A551D6
__gray_syntax_function    = #418DD3
__gray_syntax_property    = #2EA538
__gray_syntax_attribute   = #2EA538
__gray_syntax_string      = #998700
__gray_syntax_number      = #C189B0
__gray_syntax_regexp      = #579B7A
__gray_syntax_doctype     = #585758
__gray_syntax_comment     = _65
__gray_syntax_background  = _100
