dark = {

    name: 'dark',

    /// ━━━━━━━━━━━━ DEFAULTS

    default:         __dark_default,

    // elements
    heading:         __dark_heading,
    paragraph:       __dark_paragraph,
    list:            __dark_list,
    code:            __dark_code,
    vector:          __dark_vector,

    // properties
    border:          __dark_border,
    background:      __dark_background,

    // states
    link:            __dark_link,
    visited:         __dark_visited,
    hover:           __dark_hover,
    active:          __dark_active,
    focus:           __dark_focus,

    /// ━━━━━━━━━━━━ SCOPES

    nav: {
        default:     __dark_nav_default,
        vector:      __dark_nav_vector,
        background:  __dark_nav_background,
        // ⚓
        link:        __dark_nav_link,
        visited:     __dark_nav_visited,
        hover:       __dark_nav_hover,
        active:      __dark_nav_active,
        focus:       __dark_nav_focus
    },

    header: {
        default:     __dark_header_default,
        vector:      __dark_header_vector,
        background:  __dark_header_background,
        // ⚓
        link:        __dark_header_link,
        visited:     __dark_header_visited,
        hover:       __dark_header_hover,
        active:      __dark_header_active,
        focus:       __dark_header_focus
    },

    footer: {
        default:     __dark_footer_default,
        vector:      __dark_footer_vector,
        background:  __dark_footer_background,
        // ⚓
        link:        __dark_footer_link,
        visited:     __dark_footer_visited,
        hover:       __dark_footer_hover,
        active:      __dark_footer_active,
        focus:       __dark_footer_focus
    }

}
