/// ━━━━━━━━━━━━ DEFAULTS

// default
__dark_default           = _70

// elements
__dark_heading           = _65
__dark_paragraph         = __dark_default
__dark_list              = _60
__dark_code              = _60
__dark_vector            = _60

// properties
__dark_border            = _15
__dark_background        = _20

// states
__dark_link              = #69A9C6
__dark_visited           = __dark_link
__dark_hover             = __dark_link
__dark_active            = __dark_hover
__dark_focus             = __dark_hover

/// ━━━━━━━━━━━━ SCOPES

// navigation
__dark_nav_default       = __dark_default
__dark_nav_vector        = _35
__dark_nav_background    = __dark_background
// ⚓
__dark_nav_link          = _35
__dark_nav_visited       = __dark_nav_link
__dark_nav_hover         = _70
__dark_nav_active        = __dark_nav_hover
__dark_nav_focus         = __dark_nav_hover

// header
__dark_header_default    = _45
__dark_header_vector     = __dark_header_default
__dark_header_background = __dark_background
// ⚓
__dark_header_link       = _45
__dark_header_visited    = __dark_header_link
__dark_header_hover      = _70
__dark_header_active     = __dark_header_hover
__dark_header_focus      = __dark_header_hover

// footer
__dark_footer_default    = _35
__dark_footer_vector     = __dark_footer_default
__dark_footer_background = _15
// ⚓
__dark_footer_link       = __dark_footer_default
__dark_footer_visited    = __dark_footer_link
__dark_footer_hover      = _55
__dark_footer_active     = __dark_footer_hover
__dark_footer_focus      = __dark_footer_hover
