light = {

    name: 'light',

    /// ━━━━━━━━━━━━ DEFAULTS

    default:         __light_default,

    // elements
    heading:         __light_heading,
    paragraph:       __light_paragraph,
    list:            __light_list,
    code:            __light_code,
    vector:          __light_vector,

    // properties
    border:          __light_border,
    background:      __light_background,

    // states
    link:            __light_link,
    visited:         __light_visited,
    hover:           __light_hover,
    active:          __light_active,
    focus:           __light_focus,

    /// ━━━━━━━━━━━━ SCOPES

    nav: {
        default:     __light_nav_default,
        vector:      __light_nav_vector,
        background:  __light_nav_background,
        // ⚓
        link:        __light_nav_link,
        visited:     __light_nav_visited,
        hover:       __light_nav_hover,
        active:      __light_nav_active,
        focus:       __light_nav_focus
    },

    header: {
        default:     __light_header_default,
        vector:      __light_header_vector,
        background:  __light_header_background,
        // ⚓
        link:        __light_header_link,
        visited:     __light_header_visited,
        hover:       __light_header_hover,
        active:      __light_header_active,
        focus:       __light_header_focus
    },

    footer: {
        default:     __light_footer_default,
        vector:      __light_footer_vector,
        background:  __light_footer_background,
        // ⚓
        link:        __light_footer_link,
        visited:     __light_footer_visited,
        hover:       __light_footer_hover,
        active:      __light_footer_active,
        focus:       __light_footer_focus
    }

}
