&__modal
    size(0px) // 0px + normal positioning required for proper lazy-loading
    opacity 0
    transform: scale(0)
    align-items flex-start
    justify-content center
    background _100
    transition: opacity .5s ease
    scroll-margin-top: 80vh
    pointer-events: none
    [data-nav="true"] &
    [data-autoplay="true"] &
        transition: none
    +min(2)
        align-items: center
        background: rgba(0,0,0,.86)
    &:target
        display flex
        position: fixed
        top: 0
        left @top
        size(100%)
        opacity: 1
        z-index: 4
        transform: scale(1)
        overflow: scroll
        pointer-events: auto
        +min(2)
            overflow: hidden
        .gallery-1__modal-image
            opacity: 1
            transform: scale(1)
            img { opacity: 1; transform: scale(1) }
    &-close
        display: block
        &::before
            position fixed
            top 0
            left @top
            size(100%)
            content ''
            cursor default
        &::after
            display flex
            position fixed
            top 1rem
            right @top
            size(2.8rem)
            content '×'
            font-size 2.4rem
            cursor pointer
            align-items center
            justify-content center
            color rgba(255,255,255,0.6)
            border-radius 50%
            transition all 200ms linear
            box-shadow inset 0 0 5px rgba(0,0,0,0.4)
            background rgba(0,0,0,0.3)
            z-index 1
            +min(2)
                position: absolute
                top 2rem
                right @top
                border-radius 3px
                color rgba(255,255,255,0.2)
                background rgba(0,0,0,0.5)
        &:hover::after
            color rgba(255,255,255,0.6)
    &-image-wrapper
        position: relative
        overflow: auto
        +max(2)
            display flex
            height 100%
            flex-direction: column
        +min(2)
            max-width 65%
            max-height 65vh
            box-shadow -5px 5px 10px rgba(0,0,0,0.5)
    &-image
        position: relative
        transform: scale(0)
        transition: transform 500ms ease-in
        background rgba(0,0,0,0.8)
        +min(2)
            border-radius: 5px
        img
            display block
            width 100%
            height auto
            opacity 0
            margin 0 auto
            transform: scale(0.96)
            transition-duration: 300ms, 600ms
            transition-property: transform, opacity
            transition-timing-function: ease, ease-in
            +min(2)
                border-radius: 5px
        &:hover button[class*=gallery-1__modal-nav] svg
            opacity: 1
        &:hover .gallery-1__modal-nav-pause
            opacity: 0.5
            [data-paused="true"] &
                opacity: initial
        [data-nav="true"] &
        [data-autoplay="true"] &
            transform: none
    &-meta
        width 100%
        display flex
        flex-flow row wrap
        justify-content center
        align-content flex-start
        padding 1.8rem 0
        font-style normal
        background _100
        +max(2)
            flex 1
        +min(2)
            position: absolute
            left 50%
            bottom: rem(45px)
            padding 0
            transform: translateX(-50%)
            color rgba(255, 255, 255, .8)
            background transparent
        &-caption
            width 100%
            display block
            font-size 1.1rem
            line-height 1.3
            margin-bottom 1.4em
            padding 0 2rem
            +min(1)
                font-size 1.2rem
                margin-bottom 1em
            +min(2)
                font-size 1.4rem
                margin-bottom .4em
    &-nav // dynamically controlled: activates navigation controls
        display: none
        position: absolute
        top: 50%
        transform: translateY(-50%)
        background: transparent
        &-left { left: 0 }
        &-right { right: 0 }
        &-left, &-right
            [data-nav="true"] &
                display: block
        &:hover
            cursor: pointer
            svg { fill: _100 }
        svg
            opacity: 0
            width rem(125px)
            height: auto
            padding: 0 rem(50px)
            fill: rgba(255,255,255,0.5)
            transition-duration: 200ms, 500ms, 250ms
            transition-property: background-color, opacity, fill
            transition-timing-function: ease
        &-pause
            left: 50%;
            width 110px
            height: @width
            opacity: 0
            border-radius: 50%
            transform: translate(-50%, -50%)
            transition: background-color 200ms ease
            background-image: url("/assets/images/_sprites/views.svg#gallery-1__modal-nav--pause")
            background-size: 34px 48px
            background-position: center
            background-repeat: no-repeat
            &:hover
                opacity: 1 !important
                background-color: rgba(0,0,0,0.5)
            [data-autoplay="true"] &
                display: block
            [data-paused="true"] &
                opacity: 1
                background-color: rgba(0,0,0,0.5)
                background-image: url("/assets/images/_sprites/views.svg#gallery-1__modal-nav--play")
