/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━  ROOT  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ Root of the style asset tree. Tooling and default styles in the    ┃
┃ global partials are loaded first, after which the the specific     ┃
┃ document views are imported.                                       ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

@require '_/modules'
@require '_/utilities'
@require '_/plugins'
@require '_/elements'

@require 'views'
