/* DIMENSIONS ________________________________⌋ header

 * Dimensional variables correlating to the breakpoint
 * ranges in the viewport scale (see the media module)
 * Define for all base containers.                  */

// 0 ≤ BP ≤ 1        shorthand    value
header_width         = h_x        = c_x
header_width_min     = h_x_min    = c_x_min
header_height        = h_y        = rem(80px)

// 1 ≤ BP ≤ 2
header_width_b1      = h_x_b1     = c_x_b1
header_width_b1_min  = h_x_b1_min = c_x_b1_min
header_height_b1     = h_y_b1     = rem(90px)

// 2 ≤ BP ≤ 3
header_width_b2      = h_x_b2     = c_x_b2
header_width_b2_min  = h_x_b2_min = c_x_b2_min
header_height_b2     = h_y_b2     = rem(95px)

// BP ≥ 3
header_width_b3      = h_x_b3     = c_x_b3
header_width_b3_min  = h_x_b3_min = c_x_b3_min
header_height_b3     = h_y_b3     = h_y_b2

// DIMENSIONS _______________________________⌋ content

// 0 ≤ BP ≤ 1        shorthand    value
content_width        = c_x        = 90%
content_width_min    = c_x_min    = rem(251px)

// 1 ≤ BP ≤ 2
content_width_b1     = c_x_b1     = 80%
content_width_b1_min = c_x_b1_min = rem(500px)

// 2 ≤ BP ≤ 3
content_width_b2     = c_x_b2     = 80%
content_width_b2_min = c_x_b2_min = rem(900px)

// BP ≥ 3
content_width_b3     = c_x_b3     = 63%
content_width_b3_min = c_x_b3_min = rem(1200px)

// DIMENSIONS ________________________________⌋ footer

// 0 ≤ BP ≤ 1        shorthand    value
footer_width         = f_x        = 90%
footer_width_min     = f_x_min    = c_x_min

// 1 ≤ BP ≤ 2
footer_width_b1      = f_x_b1     = f_x
footer_width_b1_min  = f_x_b1_min = c_x_b1_min

// 2 ≤ BP ≤ 3
footer_width_b2      = f_x_b2     = c_x_b2
footer_width_b2_min  = f_x_b2_min = c_x_b2_min

// BP ≥ 3
footer_width_b3      = f_x_b3     = c_x_b3
footer_width_b3_min  = f_x_b3_min = c_x_b3_min
