/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━  LAYOUT  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ Defaults that lend consistency to how the foundational structure   ┃
┃ of documents are laid out.                                         ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

@require 'dimensions'
@require 'selectors'
@require 'utilities'
