footer(
    class="footer-2"
    role="contentinfo"
    itemscope
    itemtype="https://schema.org/WPFooter")

    div

        div

            ul

                li: a(href="#") Lorem ipsum dolor
                li: a(href="#") Sit amet consectetur
                li: a(href="#") Adipiscing elit sed
                li: a(href="#") Do eiusmod tempor
                li: a(href="#") Incididunt ut labore
                li: a(href="#") Et dolore magna
                li: a(href="#") Aliqua ut enim

        div

            ul

                li: a(href="#") Ad minim veniam
                li: a(href="#") Quis nostrud
                li: a(href="#") Ullamco laboris nisi
                li: a(href="#") Ut aliquip ex ea
                li: a(href="#") Commodo consequat
                li: a(href="#") Aute irure dolor
                li: a(href="#") In reprehenderit in

        div

            table(class="vcard")

                thead

                    tr

                        th(colspan="2" class="org") Ordinem Nomine

                tbody

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-address")
                        td(class="street-address") 00 Locus Viae

                    tr
                        td
                        td(class="locality") Urbs Nomine

                    tr
                        td
                        td(class="postal-code") 0000

                    tr
                        td
                        td(class="country-name") Patriam Nomine

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-phone")
                        td(class="tel"): a(href="tel:00-00-000-0000") (+00) 000-000-0000

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-location")
                        td: a(href="#") 00°00'00"S 00°00'00"E

        div

            ul

                li

                    a(href="#")

                        svg(role="img" title="Follow us on Twitter")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-twitter")

                li

                    a(href="#")

                        svg(role="img" title="Like us on Facebook")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-facebook")

                li

                    a(href="#")

                        svg(role="img" title="See our posts on Google Plus")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-google+")

                li

                    a(href="#")

                        svg(role="img" title="View our pins on Pinterest")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-pinterest")

                li

                    a(href="#")

                        svg(role="img" title="Connect with us on LinkedIn")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-linkedin")
