/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━  VECTOR  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ Vector defaults.                                                   ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

svg
    fill: _v

header svg
    fill: _h_v

footer svg
    fill: _f_v

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━  GENERAL  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ Rules pertaining to all image types.                               ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

// ensure containment within fluid grid
img
    max-width: 100%
    height: auto // override inline attributes
