/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━  LAYOUT  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ Defaults that lend consistency to how the foundational structure   ┃
┃ of documents are laid out.                                         ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━  DIMENSIONS  ━━━━━━━━━━━━━━━━━━━━━━━━━*/

// Dimensional variables correlating to the 𝘣𝘳𝘦𝘢𝘬𝘱𝘰𝘪𝘯𝘵 𝘳𝘢𝘯𝘨𝘦𝘴 in the
// viewport scale (see 𝘮𝘦𝘥𝘪𝘢 module). Define for base containers.

// CONTENT

// x: 0 ≤ BR ≤ 1     shorthand    value
content_width        = c_x        = 90%
content_width_min    = c_x_min    = rem(251px)

// x: 1 ≤ BR ≤ 2
b1_content_width     = b1_c_x     = 80%
b1_content_width_min = b1_c_x_min = rem(500px)

// x: 2 ≤ BR ≤ 3
b2_content_width     = b2_c_x     = 70%
b2_content_width_min = b2_c_x_min = rem(900px)

// x: BR ≥ 3
b3_content_width     = b3_c_x     = 63%
b3_content_width_min = b3_c_x_min = rem(1200px)

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━  SELECTORS  ━━━━━━━━━━━━━━━━━━━━━━━━━━*/

// NATIVE
// Default structural elements.

html
    height: 100%
    overflow-x: hidden
    overflow-y: scroll

body
    display: flex
    flex-flow: column wrap
    min-height: 100vh
    color: _default
    background: _background

header
    color: _header

main
    flex: 1
    width: 100%
    display: flex
    flex-wrap: wrap
    align-content: flex-start

footer
    color: _footer

// CUSTOM
// Extended structural vocabulary with semantic identifiers.

.canvas
    width: 100%
    display: flex
    position: relative
    flex-wrap: wrap
    align-items: center
    justify-content: center
    overflow: hidden

.content
    width: c_x
    display: flex
    flex-wrap: wrap
    min-width: c_x_min
    +min(1)
        width: b1_c_x
    +min(2)
        width: b2_c_x
        min-width: b2_c_x_min
    +min(3)
        width: b3_c_x
        min-width: b3_c_x_min
