/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━  MEDIA  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ Configure platform breakpoints.                                    ┃
┃ Pass to media query helpers +min(), +max() and +between()          ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

/* SCALE ______________________ viewport _____________________________
 * index starts at 1                                                */

scale = '' rem(500px) rem(1025px) rem(1500px)

// keywords                                                 ≈ viewport
first  = scale[1] // ........................................... small
second = scale[2] // .......................................... medium
third  = scale[3] // ........................................... large
