extends ../_/body

//- variables
block context
    - bodyId = 'home';
    - bodyClass = 'home';

//- body
block main

    main(role="main")

        include _/front
        include _/section-1
        include _/section-2
        include _/section-3
