//- NOTES
    In the event that a gradient is present in the SVG, the icon parameter would currently require a
    fragment from a view-based sprite, referenced from an img tag if it is to be rendered correctly.

mixin header-1(url, icon, h1, navigation, hook)
    header(class=hook ? "header-1 " + hook :  "header-1")

        div
            h1
                a(href=url class="logo")
                    if icon
                        svg: use(xlink:href="/assets/images/_sprites/symbols.svg#" + icon)
                    =h1

            nav(id="navigation" role="navigation" itemscope itemtype="https://schema.org/SiteNavigationElement")

                button
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#header-1-nav-button")

                ul
                    for anchor in navigation

                        li
                            a(href=anchor.href)= anchor.name
