header-1(scheme = __default)
    .header-1
        display: flex
        width: 100vw
        min-width: header_width_min
        height: header_height
        justify-content: center
        align-items: center
        color: scheme.header.default
        background: transparent
        z-index: 2
        +min(1)
            position: fixed
            height: header_height_b1
        +min(2)
            height: header_height_b2
        div // inherit size from .content
            display: flex
            flex-wrap: wrap
            width: content_width
            min-width: content_width_min
            justify-content: space-between
            +min(2)
                width: content_width_b2
                min-width: content_width_b2_min
            +min(3)
                width: content_width_b3
                min-width: content_width_b3_min
            h1
                display: flex
                margin: 0
                font-size: 1.5rem
                font-weight: 600
                align-items: center
                letter-spacing: normal
                +min(1)
                    font-size: 1.4rem
                a
                    display: flex
                    align-items: center
                    svg
                        size(rem(24px))
                        margin: -1px rem(8px) 0 0
                        +min(1)
                            size(rem(22px))
                            margin: 0 rem(5px) 0 0
        nav
            button // mobile devices
                +max(2)
                    width: 56px
                    height: 46px
                    z-index: 2
                    position: relative
                    line-height: 12px
                    background: none
                    svg
                        width: 34px
                        height: (@line-height * 2)
                        fill: scheme.header.vector
                    &:hover
                        cursor: pointer
                        background: scheme.header.default
                        svg
                            fill: scheme.background
                    &:active
                        background: transparent
                        use
                            fill: scheme.header.vector
                +min(2)
                    display: none
            ul
                +max(2)
                    display: none
                    top: 68px
                    left: 0
                    z-index: 1
                    width: 100%
                    position: absolute
                    font-size: 0.66rem
                    background: darken(scheme.background, 15%)
                    &:after
                        display: block
                        position: absolute
                        top: -46px
                        right: 5%
                        content: ""
                        width: 56px
                        height: 46px
                        background: @background
                li
                    +max(2)
                        margin: 0
                        padding: 0
                        width: 100%
                    +min(2)
                        display: inline
                        line-height: 0
                        &:last-of-type a
                            margin-right: 0
                    a
                        text-align: center
                        +max(2)
                            display: block
                            width: 100%
                            margin: 0
                            padding: 1em 0
                            font-size: 1.8em
                            border-bottom: 1px solid darken(scheme.background, 30%)
                            &:hover
                                color: scheme.header.background
                                border-color: scheme.header.default
                                background: scheme.header.default
                                text-decoration: none
                        +min(2)
                            display: inline-block
                            margin-right: 12px
                            font-size: .9rem
                            text-transform: uppercase
        +min(2)
            &.compact-menu // managed by js, activates on scroll
                height: 49px
                transition: all 250ms ease
                h1
                    background: scheme.header.background
                    a
                        height: (@height)
                        padding: 0 rem(15px)
                        &:hover
                            color: scheme.header.background
                            background: scheme.header.default
                            svg { fill: @color }
                        svg
                            margin-bottom: -1px
                #navigation
                    position: relative
                    button
                        position: relative
                        display: block
                        padding: 12px 10px 13px
                        background: scheme.header.background
                        z-index: 2
                        svg
                            fill: scheme.header.link
                            display: block
                            width: 34px
                            height: 24px
                        &:hover
                            cursor: pointer
                            background: scheme.header.link
                            svg { fill: scheme.header.background }
                        &:active
                            background: transparent
                            svg { fill: scheme.header.vector }
                    ul
                        display: none // deactivate for development
                        position: absolute
                        margin: 0
                        padding: 0
                        right: 0
                        &:after
                            position: absolute
                            top: -49px
                            right: 0
                            display: block
                            content: ""
                            width: 55px
                            height: 49px
                            border: 1px solid scheme.header.link
                            border-top: none
                            border-bottom: none
                            background: transparent
                            pointer-events: none
                            z-index 2
                        li
                            margin: 0
                            a
                                display: block
                                position: relative
                                width: 220px
                                color: scheme.header.link
                                font-size: 14px
                                font-weight: 400
                                letter-spacing: 2px
                                text-align: center
                                margin: 0 0 -1px
                                padding: 20px 0
                                border: 1px solid
                                background: scheme.header.background
                                &:hover
                                    color: scheme.header.background
                                    z-index: 2
                                    border-color: scheme.header.link
                                    text-decoration: none
                                    background: scheme.header.link
        { block }
