form-1(scheme = __default, width = rem(300px), button-type = '2d')
    .form-1
        display: flex
        width: width
        max-width 80%
        flex-flow: row wrap
        justify-content: center
        align-content: flex-start
        fieldset
            width: 100%
            margin-bottom: rem(25px)
            legend
                font-size: 1.3rem
                font-weight: 600
                padding: rem(10px) 0
                color: scheme.default
                &.center
                    margin 0 auto
            // parent field group
            .field
                display: flex
                flex-wrap: nowrap
                align-content: center
                align-items: center
                position: relative
                width: inherit
                &.select
                    margin .6rem 0
                    justify-content space-between
                    label
                        margin-right .7rem
                    select
                        flex 1
            // most basic form
            &.core
                // common field properties
                input, textarea
                    width: width
                    margin: rem(2px) 0
                    padding: rem(5px)
                    font-size: 1.1rem
                    border: 1px solid scheme.border
                    border-radius: 0
                    &::placeholder { color: _60 }
                    // feedback cues
                    & + .cue::after
                        position: absolute
                        display: flex
                        content: ''
                        top: rem(2px)
                        width: rem(38px)
                        height: @width
                        margin-left: rem(-4px)
                        background-size: cover
                        background-repeat: no-repeat
                        background-color: transparent
            // optional spam quiz
            &.spam
                color: scheme.default
                font-weight: 600
                width: 14.5rem
                margin: inherit auto
                span
                    float: left
                    margin-right: 6px
                    font-weight: inherit
                div
                    float: left
                    label
                        margin: 0; padding: 0
                        margin-right: 11px
                        font-weight: inherit
                    &:last-of-type label
                        margin-right: 0
        textarea
            min-height: rem(120px)
        // feedback cue graphics
        :required + .cue::after
            background-image: url('/assets/images/_sprites/views.svg#form-1-field-required')
        :required:valid + .cue::after
            background-image: url('/assets/images/_sprites/views.svg#form-1-field-valid')
        :required:valid:focus + .cue::after
            background-image: url('/assets/images/_sprites/views.svg#form-1-field-valid')
        :required:invalid:focus + .cue::after
            background-image: url('/assets/images/_sprites/views.svg#form-1-field-invalid')
        // submit button
        button
            if button-type is '3d'
                button-3d()
            else
                button()
        { block }
