/// ━━━━━━━━━━━━ DEFAULTS

// default
__light_default           = _20

// elements
__light_heading           = _25
__light_paragraph         = __light_default
__light_list              = __light_default
__light_code              = __light_default
__light_vector            = _75

// properties
__light_border            = _85
__light_background        = _100

// states
__light_link              = #0E77D7
__light_visited           = __light_link
__light_hover             = __light_link
__light_active            = __light_hover
__light_focus             = __light_hover

/// ━━━━━━━━━━━━ SCOPES

// navigation
__light_nav_default       = _50
__light_nav_vector        = __light_vector
__light_nav_background    = __light_background
// ⚓
__light_nav_link          = __light_nav_default
__light_nav_visited       = __light_nav_link
__light_nav_hover         = _10
__light_nav_active        = __light_nav_hover
__light_nav_focus         = __light_nav_hover

// header
__light_header_default    = __light_nav_default
__light_header_vector     = __light_vector
__light_header_background = __light_background
// ⚓
__light_header_link       = __light_nav_default
__light_header_visited    = __light_header_link
__light_header_hover      = __light_nav_hover
__light_header_active     = __light_header_hover
__light_header_focus      = __light_header_hover

// footer
__light_footer_default    = _50
__light_footer_vector     = __light_footer_default
__light_footer_background = _90
// ⚓
__light_footer_link       = __light_footer_default
__light_footer_visited    = __light_footer_link
__light_footer_hover      = _30
__light_footer_active     = __light_footer_hover
__light_footer_focus      = __light_footer_hover
