nav-2(scheme = __default, width = rem(260px))
    .nav-2
        position: sticky
        top: -1px
        display: flex
        order: -1
        width: 100%
        margin-bottom: rem(15px)
        justify-content: center
        border-bottom: 1px solid scheme.border
        background: scheme.nav.background
        z-index: 1
        +min(2)
            position: fixed
            top: 0
            right: 0
            width: width
            height: 100%
            justify-content: flex-start
            margin: 0
            padding: rem(10px) 0
            padding: rem(22px) 0 rem(20px) rem(35px)
            border-bottom: 0
            border-left: 1px solid scheme.border
        +max(2)
            padding: .9rem
            ul
                display: flex
                flex-flow: row wrap
                justify-content: center
                li
                    margin: .3rem .4rem
        a
            &:hover
                text-decoration: underline
            +max(2)
                display: inline-block
                &:hover
                    background: lighten(scheme.nav.background, 15%)
            +min(2)
                margin: initial
        { block }
