/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━  STACKS  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ Manage font stacks.                                                ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

avec_serif = 'Crimson Text',
             'Libre Baskerville',
             'Noto Serif',
             'Butler',
             'Arvo',
             'Georgia',
             serif

sans_serif = 'Roboto',
             'Open Sans',
             'Noto Sans',
             'Fira Sans',
             'Source Sans Pro',
             'Helvetica Neue',
             'Helvetica',
             'Arial',
             sans-serif

monospaced = 'Hack',
             'Source Code Pro',
             'Anonymous Pro',
             'Fira Mono',
             'Monaco',
             'Courier',
             monospace
