/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━  STACKS  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ Manage font stacks.                                                ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

$serif      = 'Sitka',
              'Athe­las',
              'Crimson Text',
              'Libre Baskerville',
              'Noto Serif',
              'Butler',
              'Garamond',
              'Palatino Linotype',
              'Bell MT',
              'Char­ter',
              serif

$sans-serif = 'Source Sans Pro',
              'Roboto',
              'Open Sans',
              'Noto Sans',
              'Fira Sans',
              'Source Sans Pro',
              'Helvetica Neue',
              'Helvetica',
              'Ser­avek',
              'Avenir',
              'Franklin Gothic',
              'Arial',
              sans-serif

$monospace  = 'Consolas',
              'Hack',
              'Source Code Pro',
              'Anonymous Pro',
              'Fira Mono',
              'Monaco',
              'Courier',
              monospace

$cursive    = 'Pacifico',
              'Brush Script MT',
              'Lucida Calligraphy',
              'Lucida Handwriting',
              'Apple Chancery',
              cursive

$fantasy    = 'Eras ITC',
              'Impact',
              'Haettenschweiler',
              'Marker Felt',
              'Brushstroke',
              'Harrington',
              'Luminari',
              'Trattatello',
              fantasy
