footer(
    class="footer-3"
    role="contentinfo"
    itemscope
    itemtype="https://schema.org/WPFooter")

    div

        .left

            ul
                li &copy; Name
                li: a(href="#") Privacy &amp; Terms

        .right

            ul
                li: a(href="https://twitter.com/#").t t
                li: a(href="https://fb.me/#/").f f
                li: a(href="https://plus.google.com/#").g g+
