/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━  COLOR  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ Manage project color.                                              ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

// provision schemes
@require 'palette'
@require 'schemes/**/'

// set main scheme
active_scheme = light

// identities
@require 'keys'
