footer(
    class="footer-1"
    role="contentinfo"
    itemscope
    itemtype="https://schema.org/WPFooter")

    div

        div

            ul

                li
                    a(href="#") Lorem ipsum
                li
                    a(href="#") Laudantium
                li
                    a(href="#") Sit amet
                li
                    a(href="#") Dolorem eum
                li
                    a(href="#") Consequatur
                li
                    a(href="#") Pariatur
                li
                    a(href="#") Adipisci velit

        div

            h2 Productum Tractus

            ul

                li.rollover
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-1-rollover")
                    span Caption #[br]01
                li.rollover
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-1-rollover")
                    span Caption #[br]02
                li.rollover
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-1-rollover")
                    span Caption #[br]03
                li.rollover
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-1-rollover")
                    span Caption #[br]04
                li.rollover
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-1-rollover")
                    span Caption #[br]05

        div(itemscope itemtype="http://schema.org/LocalBusiness")

            table

                thead
                    tr: th(colspan="2" class="org" translate="no" itemprop="name") Ordinem Nomine

                tbody(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-1-address")
                        td(itemprop="streetAddress" translate="no") 00 Locus Viae
                    tr
                        td
                        td(itemprop="addressLocality") Urbs Nomine
                    tr
                        td
                        td(itemprop="postalCode") 0000
                    tr
                        td
                        td(itemprop="addressCountry") Patriam Nomine
                    tr
                        td: svg: use(use xlink:href="/assets/images/_sprites/symbols.svg#footer-1-phone")
                        td: a(href="tel:00-00-000-0000" itemprop="telephone") (+00) 000-000-0000
                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-1-location")
                        td: a(href="#" itemprop="maps") 00&deg;00'00"S 00&deg;00'00"E
