/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━  WEIGHTS  ━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

// 300 • light
@font-face
    font-family: 'Source Sans Pro'
    font-weight: 300
    font-style: normal
    font-display: swap
    src: url(source + 'Source/Sans Pro/light.ttf') format('truetype')

// 400 • regular
@font-face
    font-family: 'Source Sans Pro'
    font-weight: 400
    font-style: normal
    font-display: swap
    src: url(source + 'Source/Sans Pro/regular.ttf') format('truetype')

// 400i • regular: italic
@font-face
    font-family: 'Source Sans Pro'
    font-weight: 400
    font-style: italic
    font-display: swap
    src: url(source + 'Source/Sans Pro/regular-italic.ttf') format('truetype')

// 600 • semibold
@font-face
    font-family: 'Source Sans Pro'
    font-weight: 600
    font-style: normal
    font-display: swap
    src: url(source + 'Source/Sans Pro/semibold.ttf') format('truetype')

// 600 • semibold: italic
@font-face
    font-family: 'Source Sans Pro'
    font-weight: 600
    font-style: italic
    font-display: swap
    src: url(source + 'Source/Sans Pro/semibold-italic.ttf') format('truetype')

// 700 • bold
@font-face
    font-family: 'Source Sans Pro'
    font-weight: 700
    font-style: normal
    font-display: swap
    src: url(source + 'Source/Sans Pro/bold.ttf') format('truetype')

// 700 • bold: italic
@font-face
    font-family: 'Source Sans Pro'
    font-weight: 700
    font-style: italic
    font-display: swap
    src: url(source + 'Source/Sans Pro/bold-italic.ttf') format('truetype')
