section(class="canvas front" id="front")

    div(class="content")

        h2 Headline

        div

            p Good spot for a tagline.

            div

                a(href="#section-2") Button 1
                a(href="#section-3") Button 2

    +nav-1("section-1")
