section(class="canvas section-1" id="section-1")

    h2 Section 1

    div(class="content")

        div

            svg(viewBox="0 0 100 100" role="presentation"): path(d="M16.301 0C7.322 0 0 7.322 0 16.301v67.398C0 92.678 7.322 100 16.301 100h67.398C92.678 100 100 92.678 100 83.699V16.301C100 7.322 92.678 0 83.699 0H16.301zm0 6h67.398C89.457 6 94 10.543 94 16.301v67.398c0 4.521-2.807 8.282-6.797 9.694-3.006.674-4.884-.093-6.465-2.784l-16.744-32.99c-.995-1.989-3.978-1.989-4.973 0l-5.47 10.942c-.995 1.989-3.98 1.989-4.975 0L32.66 36.73c-.995-1.989-3.978-1.989-4.972 0L6 80.236V16.301C6 10.543 10.543 6 16.301 6zm56.553 10.648a9.285 9.285 0 1 0-.001 18.57 9.285 9.285 0 0 0 .001-18.57z")

            article

                p.
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis,
                    praesentium voluptatum deleniti atque corrupti quos dolores et quas.

    +nav-1("next", "nav-1-fill")
