section(class="canvas section-3" id="section-3")

    h2 Section 3

    div(class="content")

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Commodi
                p.
                    Lorem ipsum dolor sit amet, #[a(href="#") consectetur], adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim veniam, quis.

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Tempora
                p.
                    Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur.

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Autem
                p.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui #[em officia]
                    deserunt mollit anim id est laborum. At vero eos et accusamus et iusto odio
                    dignissimos ducimus.

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Aliquid
                p.
                    Qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et
                    quas molestias excepturi sint #[a(href="#") #[i occaecati]] cupiditate non provident,
                    similique sunt.

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Dolore
                p.
                    In culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et
                    harum quidem rerum facilis est et expedita distinctio.

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Eligendi
                p.
                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
                    minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.

    +nav-1({ target: "front", direction: "prev" })
