/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━  PLUGINS  ━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ Integrate components and external style assets / functionality.    ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

// Expose components.
@require '../components/**/'

/* Activate the required component styles. Note: consider separating
 * into discrete files if instantiated as block mixins with substantial
 * modifications, i.e. 'plugins/header-1.styl', 'plugins/footer-2.styl'
 * Then, uncomment the following line: */
//@require '*'

header-1()
footer-2()
