/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━  UTILITIES  ━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ A modular collection of high-level and/or compositional functional ┃
┃ utility classes that can consume all foundational styles.          ┃
┃━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┃
┃ Denoting modifiers:                                                ┃
┃                                                                    ┃
┃ Primary modifiers are prefixed with a single dash (-) and alter    ┃
┃ the type of utility class, i.e. change the button type to "border":┃
┃> .btn-border                                                       ┃
┃                                                                    ┃
┃ Secondary modifiers are prefixed with a double dash (--) and alter ┃
┃ the default appearance of the type, i.e. color, dimensions etc:    ┃
┃> .btn--large                                                       ┃
┃                                                                    ┃
┃ Tertiary modifiers are prefixed with a triple dash (---) and       ┃
┃ signify interaction changes, i.e. :hover, :checked, etc:           ┃
┃> .btn---animate-up                                                 ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

@require '*'
