/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━  UTILITIES  ━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ A modular collection of high-level and/or compositional functional ┃
┃ utility classes that can consume all foundational styles.          ┃
┃━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┃
┃ Denoting modifiers:                                                ┃
┃                                                                    ┃
┃ Primary modifiers are prefixed with a single dash (-).             ┃
┃ Primary modifiers alter the type of the utility class.             ┃
┃ Example: change the button type to "border"                        ┃
┃> .btn-border                                                       ┃
┃                                                                    ┃
┃ Secondary modifiers are prefixed with a double dash (--).          ┃
┃ Secondary modifiers alter only the default appearance of a type.   ┃
┃ Example: color, dimensions etc                                     ┃
┃> .btn--large                                                       ┃
┃                                                                    ┃
┃ Tertiary modifiers are prefixed with a triple dash (---).          ┃
┃ Tertiary modifiers target interaction changes on the element.      ┃
┃ Example: :hover, :checked, etc                                     ┃
┃> .btn---animate-up                                                 ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

@require '*'
